<header class="navbar navbar-fixed-top navbar-inverse" ng-controller="HeaderController as vm" ng-if="isHeaderActive">
    <div class="container" >
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/#!/" class="navbar-brand">
                <img src="/modules/core/img/brand/bonadea-header.png" class="header-logo">
            </a>
        </div>
        <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/#!/clinic-management" ng-class="{active: vm.activePath === 'clinic-management'}">
                        <i class="icon-36 teacher"></i>
                        <span class="icon-text-right">Clinic Management</span>
                    </a>
                </li>
                <li>
                    <a href="/#!/schedule-management" ng-class="{active: vm.activePath === 'schedule-management'}">
                        <i class="icon-36 plan"></i>
                        <span class="icon-text-right">Schedule Management</span>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:void(0)" ng-click="vm.doLogout()">
                       <i class="icon-signout"></i>
                       <span class="icon-text-right text-capitalize">{{vm.user.firstName +' '+  vm.user.lastName}}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>