/** nav icon */
/**Image path*/
/*Font colors*/
/*Border*/
/**$fonts*/
/*Light Green Group*/
/****  Pixels to em functions *****/
/* line 1, ../../../sass/_common.scss */
a.primary {
  font-size: 1.25em;
  font-family: inherit;
  font-weight: normal;
  color: #1f8eba;
  line-height: 1.5em;
}

/* line 4, ../../../sass/_common.scss */
.border-0 {
  border-width: 0 !important;
  box-shadow: none;
}

/* line 11, ../../../sass/_common.scss */
table thead tr {
  background: #e4e4e4;
}
/* line 16, ../../../sass/_common.scss */
table tr.even {
  background: #f1f1f1;
}
/* line 19, ../../../sass/_common.scss */
table tr.odd {
  background: #fff;
}

/* line 25, ../../../sass/_common.scss */
.header-logo {
  height: 65px;
  position: relative;
  top: -10px;
}

/*  Font and text classes*/
/* line 2, ../../../sass/base/_typography.scss */
.text-primary {
  color: #1f8eba !important;
}

/*  Margin class */
/* line 7, ../../../sass/base/_typography.scss */
.m-l-10 {
  margin-left: 0.625em !important;
}

/* line 10, ../../../sass/base/_typography.scss */
.m-t-50 {
  margin-top: 3.125em !important;
}

/*  Padding class */
/* line 16, ../../../sass/base/_typography.scss */
.p-l-0 {
  padding-left: 0 !important;
}

/* line 19, ../../../sass/base/_typography.scss */
.p-r-0 {
  padding-right: 0 !important;
}

/* line 23, ../../../sass/base/_typography.scss */
input[type='text'], input[type='password'], input[type='email'], input[type='number'] {
  box-shadow: none;
}
/* line 25, ../../../sass/base/_typography.scss */
input[type='text']:focus, input[type='password']:focus, input[type='email']:focus, input[type='number']:focus {
  outine: 0;
  box-shadow: none;
  border-color: #ccc;
}

/* line 1, ../../../sass/components/_modal.scss */
.modal-header {
  background: #1f8eba;
  color: #FFF;
  padding: 10px;
}

/* line 6, ../../../sass/components/_modal.scss */
.modal-body {
  overflow: hidden;
}

/*Create icons*/
/* line 3, ../../../sass/components/_icons.scss */
.icon-36 {
  width: 2.25em;
  height: 2.25em;
  display: inline-block;
  background-image: url("/modules/core/img/brand/nav.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-width: 100%;
}

/* line 8, ../../../sass/components/_icons.scss */
.icon-text-right {
  text-shadow: 0px -2px 0px rgba(255, 255, 255, 0.5);
  padding-left: 0.625em;
  display: inline-block;
  width: 100px;
  vertical-align: baseline;
  line-height: normal;
}

/* line 17, ../../../sass/components/_icons.scss */
.icon-signout {
  width: 2.25em;
  height: 2.25em;
  display: inline-block;
  background-image: url("/modules/core/img/brand/quit.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-width: 100%;
  background-position: 0 0;
}
/* line 22, ../../../sass/components/_icons.scss */
.icon-signout:hover {
  background-position: 0 -34px;
}

/* line 1, ../../../sass/components/_buttons.scss */
.btn {
  position: relative;
  border-radius: 0;
}
/* line 4, ../../../sass/components/_buttons.scss */
.btn.btn-primary {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  background: #1f8eba;
  color: #FFF;
  border: 1px solid #186d8e;
}
/* line 11, ../../../sass/components/_buttons.scss */
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  background: #239fd0;
  border: 1px solid #186d8e;
  color: #FFF;
  outline: 0;
}
/* line 19, ../../../sass/components/_buttons.scss */
.btn .loader {
  background-image: url("/modules/core/img/loaders/loader-rect.gif");
  background-repeat: no-repeat;
  background-position: center right;
  width: 16px;
  height: 16px;
  display: inline-block;
  float: right;
}

/* line 1, ../../../sass/layout/_container.scss */
body {
  font-size: 1.2em;
  height: 100%;
}

/* line 6, ../../../sass/layout/_container.scss */
.content {
  height: 100%;
  position: relative;
}
/* line 9, ../../../sass/layout/_container.scss */
.content .container {
  margin-top: 5em;
  padding-top: 3.125em;
}

/* line 18, ../../../sass/layout/_container.scss */
header.navbar-inverse {
  background-image: none;
  border-color: #d7d7d7;
  background: #f1f1f1;
  color: #000;
}
/* line 23, ../../../sass/layout/_container.scss */
header.navbar-inverse .navbar-nav > .open > a,
header.navbar-inverse .navbar-nav > .open > a:hover,
header.navbar-inverse .navbar-nav > .open > a:focus {
  background: #f1f1f1;
  color: #000;
}
/* line 29, ../../../sass/layout/_container.scss */
header.navbar-inverse .navbar-brand {
  padding: 15px 15px;
  height: 4em;
}
/* line 32, ../../../sass/layout/_container.scss */
header.navbar-inverse .navbar-brand:focus {
  outline: 0;
}
/* line 36, ../../../sass/layout/_container.scss */
header.navbar-inverse .navbar-nav > li {
  padding-left: 3.125em;
  padding-right: 3.125em;
}
/* line 39, ../../../sass/layout/_container.scss */
header.navbar-inverse .navbar-nav > li a, header.navbar-inverse .navbar-nav > li a:focus {
  color: #000;
  display: inline-block;
  line-height: 2em;
  padding: 15px 10px;
  font-size: 1.25em;
  font-family: inherit;
  font-weight: bold;
  color: #848484;
  line-height: normal/16em;
}
/* line 46, ../../../sass/layout/_container.scss */
header.navbar-inverse .navbar-nav > li a .glyphicon, header.navbar-inverse .navbar-nav > li a:focus .glyphicon {
  font-size: 28px;
}
/* line 50, ../../../sass/layout/_container.scss */
header.navbar-inverse .navbar-nav > li a .icon-36.teacher, header.navbar-inverse .navbar-nav > li a:focus .icon-36.teacher {
  background-position: 0 0;
}
/* line 53, ../../../sass/layout/_container.scss */
header.navbar-inverse .navbar-nav > li a .icon-36.plan, header.navbar-inverse .navbar-nav > li a:focus .icon-36.plan {
  background-position: -34px 0;
}
/* line 56, ../../../sass/layout/_container.scss */
header.navbar-inverse .navbar-nav > li a .icon-36.video, header.navbar-inverse .navbar-nav > li a:focus .icon-36.video {
  background-position: -68px 0;
}
/* line 61, ../../../sass/layout/_container.scss */
header.navbar-inverse .navbar-nav > li a:hover, header.navbar-inverse .navbar-nav > li a.active, header.navbar-inverse .navbar-nav > li a:focus:hover, header.navbar-inverse .navbar-nav > li a:focus.active {
  color: #515151;
  outline: 0;
}
/* line 65, ../../../sass/layout/_container.scss */
header.navbar-inverse .navbar-nav > li a:hover .icon-36.teacher, header.navbar-inverse .navbar-nav > li a.active .icon-36.teacher, header.navbar-inverse .navbar-nav > li a:focus:hover .icon-36.teacher, header.navbar-inverse .navbar-nav > li a:focus.active .icon-36.teacher {
  background-position: 0 -34px;
}
/* line 68, ../../../sass/layout/_container.scss */
header.navbar-inverse .navbar-nav > li a:hover .icon-36.plan, header.navbar-inverse .navbar-nav > li a.active .icon-36.plan, header.navbar-inverse .navbar-nav > li a:focus:hover .icon-36.plan, header.navbar-inverse .navbar-nav > li a:focus.active .icon-36.plan {
  background-position: -34px -34px;
}
/* line 71, ../../../sass/layout/_container.scss */
header.navbar-inverse .navbar-nav > li a:hover .icon-36.video, header.navbar-inverse .navbar-nav > li a.active .icon-36.video, header.navbar-inverse .navbar-nav > li a:focus:hover .icon-36.video, header.navbar-inverse .navbar-nav > li a:focus.active .icon-36.video {
  background-position: -68px -34px;
}
/* line 74, ../../../sass/layout/_container.scss */
header.navbar-inverse .navbar-nav > li a:hover .icon-36.signout, header.navbar-inverse .navbar-nav > li a.active .icon-36.signout, header.navbar-inverse .navbar-nav > li a:focus:hover .icon-36.signout, header.navbar-inverse .navbar-nav > li a:focus.active .icon-36.signout {
  background-image: "/modules/core/img/brand/quit.png";
  background-position: 0 0;
}
/* line 85, ../../../sass/layout/_container.scss */
header.navbar-inverse .navbar-nav.navbar-right a {
  border-left: 1px solid #DDD;
}

/* line 1, ../../../sass/page/_login.scss */
.login-panel {
  -moz-box-shadow: 0 1px 10px 1px #DDD;
  -webkit-box-shadow: 0 1px 10px 1px #DDD;
  box-shadow: 0 1px 10px 1px #DDD;
  border: 1px solid #29abe2;
  margin-top: 4.6875em;
  padding: 6.25em;
  padding-top: 20px;
  background: #d1f0fc;
}
/* line 8, ../../../sass/page/_login.scss */
.login-panel .login-container {
  border: 1px solid #29abe2;
  float: left;
  min-height: 150px;
  background: #f6f6f6;
  padding: 20px 25px;
  padding-bottom: 1.875em;
}
/* line 16, ../../../sass/page/_login.scss */
.login-panel .login-container form {
  margin-top: 2.5em;
}
/* line 19, ../../../sass/page/_login.scss */
.login-panel .login-container .form-group {
  margin-bottom: 0;
}
/* line 21, ../../../sass/page/_login.scss */
.login-panel .login-container .form-group .input-group-addon {
  padding: 6px;
  color: #1f8eba;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
/* line 28, ../../../sass/page/_login.scss */
.login-panel .login-container .form-group .form-control {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 0;
}
/* line 34, ../../../sass/page/_login.scss */
.login-panel .login-container .form-group:nth-child(2) .input-group-addon {
  border-bottom: 1px solid #ccc;
}
/* line 37, ../../../sass/page/_login.scss */
.login-panel .login-container .form-group:nth-child(2) .form-control {
  border-bottom: 1px solid #ccc;
}
/* line 44, ../../../sass/page/_login.scss */
.login-panel .login-container .login-btn button {
  width: 100%;
}
/* line 47, ../../../sass/page/_login.scss */
.login-panel .login-container .login-btn .link {
  margin-top: 10px;
  display: block;
  font-size: 1.25em;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #1f8eba;
  line-height: 1.25em;
}
/* line 53, ../../../sass/page/_login.scss */
.login-panel .login-container .error-block {
  height: 3.125em;
  padding-top: 7px;
  visibility: hidden;
}
/* line 57, ../../../sass/page/_login.scss */
.login-panel .login-container .error-block.active {
  visibility: visible;
}
/* line 60, ../../../sass/page/_login.scss */
.login-panel .login-container .error-block p {
  margin-bottom: 5px;
}

@media (max-width: 420px) {
  /* line 67, ../../../sass/page/_login.scss */
  .login-panel {
    padding: 1.25em;
    margin-top: 1.25em;
  }
  /* line 70, ../../../sass/page/_login.scss */
  .login-panel .login-container {
    padding: 15px;
  }
  /* line 72, ../../../sass/page/_login.scss */
  .login-panel .login-container .form-group {
    margin-bottom: 0;
  }
}
/* line 1, ../../../sass/core/_desktop.scss */
.core-file-drop {
  height: 9.375em;
  border: 2px dashed #DDD;
  width: 100%;
  line-height: 3.75em;
  text-align: center;
}
/* line 7, ../../../sass/core/_desktop.scss */
.core-file-drop span {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  font-size: 1.25em;
}

/* line 1, ../../../sass/navigation/_desktop.scss */
.navigation-left {
  border-right: 1px solid #DDD;
}
