@mixin gradient-bg ($color) {
  background: $color;
  border: darken($color, 20%);
  @include background-image(linear-gradient(top, $color 0%, darken($color, 10%) 100%));


}
/****  Pixels to em functions *****/

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}

@mixin fonts($size, $family, $weight:normal, $lineHeight:$size, $color:inherit){
  font-size: em($size);
  font-family: $family;
  font-weight: $weight;
  color: $color;
  line-height: em($lineHeight)
}

@mixin icons($size, $image-path, $pos, $bg-width){
  width: $size;
  height: $size;
  display:inline-block;
  background-image: url($image-path);
  background-position: $pos;
  background-repeat: no-repeat;
  background-width: $bg-width;
}