//--> Add variables

$primary-color-1: #1f8eba;
$header-color: #f1f1f1;

//--> Unit
$browser-context: 16; // Default

/** nav icon */
$nav-icon-size: 36;

/**Image path*/
$imgPath : '/modules/core/img';

/*Font colors*/
$inactive-color: #848484;


$nav-height:64;

/*Border*/

$border-color-1: #DDD;

/**$fonts*/
$font-family-1: 'Roboto', sans-serif;

/*Light Green Group*/

$primary-color-2:#d1f0fc;
$border-color-2: #29abe2;

$screen-xs-max		: 420px;
$screen-sm-min		: 421px;
$screen-sm-max		: 768px;
$screen-md-min		: 769px;
$screen-md-max		: 992px;
$screen-lg-min		: 1200px;