/*  Font and text classes*/
.text-primary{
  color: $primary-color-1!important;
}

/*  Margin class */
.m-l-10{
  margin-left: em(10) !important;
}
.m-t-50{
  margin-top: em(50) !important;
}


/*  Padding class */
.p-l-0{
  padding-left: 0!important;
}
.p-r-0{
  padding-right: 0!important;
}

input[type='text'],input[type='password'],input[type='email'],input[type='number']{
  box-shadow: none;
  &:focus{
    outine:0;
    box-shadow: none;
    border-color:#ccc;
  }
}