<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Assistants</h4>
    </div>
    <div class="modal-body">
        <form role="form" name="clinicForm">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <section class="col-sm-12 core-right-panel" ng-show="vm.showFormCount">
                        <div class="col-sm-8">
                            <div class="form-horizontal">
                                <label class="control-label" for="numAssistants">Number of assistants</label>
                                <input class="form-control" type="number" id="numAssistants" min="1" max="5" ng-init="vm.totalAssistant =1" ng-model="vm.totalAssistant"/>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="control-label"></label>
                            <div class="form-control border-0">
                                <button class="btn btn-primary" type="submit" ng-click="vm.populateFields('assistantCount')">GO >>></button>
                            </div>
                        </div>
                    </section>
                    <section class="col-sm-12 core-right-panel" ng-show="vm.showFormName">
                        <div class="alert alert-danger" role="alert" ng-show="vm.isError">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            <label ng-repeat="message in vm.errorMessages">{{message}}</label>
                        </div>
                        <form name="addAssistant">
                            <div ng-repeat="assistant in vm.assistants track by $index">
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Assistant #{{$index+1}}</h3></div>
                                    <div class="panel-body">
                                        <div class="form-group-sm">
                                            <input class="form-control col-sm-3" type="text" ng-model='assistant.firstName' placeholder="First Name*"/>
                                            <input class="form-control col-sm-3" type="text" ng-model='assistant.lastName' placeholder="Last Name" />
                                            <input class="form-control col-sm-3" type="text" ng-model='assistant.email' placeholder="Email*"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit" ng-click="vm.populateFields('assistantName')">GO >>></button>
                        </form>
                    </section>
                    <section class="col-sm-12 core-right-panel" ng-show="vm.showFormPermission">
                        <tabset>
                            <tab ng-repeat="assistant in vm.assistants"
                                 heading="{{vm.getTabName(assistant)}}">
                                <div ng-init="assistant=assistant">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>View Only</th>
                                            <th>Edit</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Calendar</td>
                                            <td>
                                                <input type="checkbox" ng-model="assistant.permissions.editCalendar" ng-checked="!assistant.permissions.editCalendar" ng-true-value="false" ng-false-value="true">
                                            </td>
                                            <td>
                                                <input type="checkbox" ng-model="assistant.permissions.editCalendar" ng-checked="assistant.permissions.editCalendar">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Practice Locations</td>
                                            <td>
                                                <input type="checkbox" ng-model="assistant.permissions.editPracticeLoc" ng-checked="!assistant.permissions.editPracticeLoc" ng-true-value="false" ng-false-value="true">
                                            </td>
                                            <td>
                                                <input type="checkbox" ng-model="assistant.permissions.editPracticeLoc" ng-checked="assistant.permissions.editPracticeLoc">
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </tab>
                        </tabset>
                    </section>
                </div>
                <div class="panel-footer" ng-show="vm.showFormPermission">
                    <button type="submit" class="btn btn-primary" ng-click="vm.saveAssistants()" >Proceed</button>
                </div>
            </div>
        </form>
    </div>
</div>

