<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Clinic</h4>
    </div>
    <div class="modal-body">
        <form role="form" name="clinicForm" ng-submit="vm.submitClinic(clinicForm)">
            <div class="form-group">
                <label for="clinicName">Clinic Name</label>
                <input type="text" class="form-control" id="clinicName" ng-model="vm.clinic.name" required="Please fill Clinic name">
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">Address Details</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="address1">Address 1</label>
                        <input type="text" class="form-control" id="address1" ng-model="vm.clinic.address.address1" required="Please fill Address 1">
                    </div>
                    <div class="form-group">
                        <label for="address2">Address 2</label>
                        <input type="text" class="form-control" id="address2" ng-model="vm.clinic.address.address2">
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" ng-model="vm.clinic.address.city" required="Please fill City">
                    </div>
                    <div class="form-group">
                        <label for="state">State</label>
                        <input type="text" class="form-control" id="state" ng-model="vm.clinic.address.state" required="Please fill State">
                    </div>
                    <div class="form-group">
                        <label for="pincode">PinCode</label>
                        <input type="text" class="form-control" id="pincode" ng-model="vm.clinic.address.pinCode" required="Please fill PinCode">
                    </div>
                    <div class="form-group">
                        <label for="contact">Contact</label>
                        <input type="text" class="form-control" id="contact" ng-model="vm.clinic.address.contact" required="Please fill Contact">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>

