<section data-ng-controller="ClinicManagementController as vm" ng-init="vm.init()">
    <!--<nav class="navigation-left col-md-3 col-sm-4 col-xs-12">
        <a href="javascript:void(0)" class="primary">
            <span class="glyphicon glyphicon-plus-sign"></span><span class="m-l-10">Import-Teacher</span>
        </a>
    </nav>-->
    <div>
    <section class="col-sm-12 col-md-12 col-xs-12 core-right-panel">
        <div ng-show="vm.user.role ==='admin'">
            <div class="col-sm-4 form-group">
                <div >
                    <label class="control-label" for="clinicId">Select Clinic</label>
                    <select id="clinicId" class="form-control" ng-model="clinicId" name="clinicId" ng-change="vm.selectClinic(clinicId)"  required>
                        <option value="">Select Clinic</option>
                        <option ng-value="clinic._id" ng-repeat="clinic in vm.clinicList" ng-bind="clinic.name"></option>
                    </select>
                </div>
            </div>
            <div class="col-sm-8 form-group">
                <label class="control-label"></label>
                <div class="form-control border-0">
                    <button class="btn btn-primary" ng-click="vm.addClinic()">Add Clinic</button>
                    <button class="btn btn-primary m-l-10" ng-click="vm.importUsers()">Import Clinic Doctors</button>
                </div>

            </div>
        </div>
        <div ng-show="vm.user.role !== 'admin'">
            <label class="col-sm-4 well">{{vm.user.extraInfo.clinicId.name}}</label>
            <div class="col-sm-8 form-group" ng-show="vm.user.role !=='assistant'">
                <button class="btn btn-primary" ng-click="vm.addAssistants()">Add Assistants</button>
            </div>
        </div>
    </section>
    <section class="col-sm-12" ng-show="vm.user.role !=='assistant'">
        <table class="table table-bordered" ng-if="vm.userList.length > 0">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in vm.userList track by $index"  ng-class-odd="'odd'" ng-class-even="'even'">
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
            </tr>

            </tbody>
        </table>
    </section>
    </div>

</section>