<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Upload files</h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger" role="alert" ng-if="rejFiles.length > 0">File is not valid</div>
        <div class="col-sm-12">
            <div ngf-drop ng-model="files" class="drop-box core-file-drop" ng-model-rejected="rejFiles"
                 ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true"
                 ngf-accept="'text/video'" accept="text/video">
                <span>Drop video files here</span>
                <div class="col-sm-12 text-center">
                    <div class="btn btn-primary" ng-model="files" accept="text/video" ngf-accept="'text/video'" ngf-select>Choose file</div>
                </div>
            </div>
        </div>

        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
        <div class="m-t-50 col-sm-12" ng-if="files.length > 0">
            <div class="progress col-sm-8 p-l-0 p-r-0">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{uploadProgress}}%">
                    <span class="sr-only">40% Complete (success)</span>
                </div>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-primary pull-right" ng-click="vm.upload(files)">Upload</button>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        <button type="button" class="btn btn-primary" ng-click="vm.close()">Close</button>
    </div>
</div>