
<section data-ng-controller="LoginController as vm">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-sm-offset-3 col-md-offset-3 col-xs-10 col-xs-offset-1 login-panel">
            <h2 class="text-center"><img class="logoImg" src="/modules/core/img/brand/bonadea.png" style="width:330px;"></h2>
            <div class="login-container">
                <form class="form-inline" name ="loginForm" ng-submit="vm.doLogin(user, loginForm.$valid)" novalidate>
                    <div class="form-group col-sm-12">
                        <label class="sr-only" for="email">Email</label>
                        <div class="input-group col-sm-12">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                            <input type="email" class="form-control" id="email" name="email" ng-model="user.email"  placeholder="Email" required>
                        </div>

                    </div>
                    <div class="form-group col-sm-12">
                        <label class="sr-only" for="password">Password</label>
                        <div class="input-group col-sm-12">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                            <input type="password" class="form-control" id="password" name="password" ng-model="user.password" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="col-sm-12 error-block" ng-class="{active:$submitted}">
                        <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine && !loginForm.email.$error.required" class=" text-danger">Email is not valid.</p>
                        <p ng-show="loginForm.email.$error.required && !loginForm.email.$pristine" class="text-danger">Email is required.</p>
                        <p ng-show="!loginForm.email.$invalid && loginForm.password.$error.required && !loginForm.password.$pristine" class="text-danger">Password is required.</p>
                        <p ng-show="vm.serverError && !loginForm.$invalid" class="text-danger">Email or Password is not correct.</p>
                    </div>

                    <div class="col-sm-12 login-btn">
                        <button type="submit" class="btn btn-primary" ng-click="$submitted=true" ng-disabled="vm.isLoading">Login <span class="loader" ng-show="vm.isLoading"></span></button>
                        <a href="javascript:void(0)" class="link">Forgot your password?</a>
                    </div>

                </form>
            </div>


        </div>
    </div>
</section>

