.btn {
  position: relative;
  border-radius:0;
  &.btn-primary{
    @include text-shadow(0 -1px 0 rgba(0, 0, 0, .2));
    @include box-shadow(inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075));
    background: $primary-color-1;
    color: #FFF;
    border: 1px solid darken($primary-color-1, 10%);

    &:hover, &:active, &:focus{
      @include box-shadow(inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075));
      background:lighten($primary-color-1, 5%);
      border: 1px solid darken($primary-color-1, 10%);
      color: #FFF;
      outline:0;
    }
  }
  .loader{
    background-image: url($imgPath + '/loaders/loader-rect.gif');
    background-repeat: no-repeat;
    background-position: center right;
    width:16px;
    height:16px;
    display:inline-block;
    float:right;
  }
}
