.login-panel{
  @include box-shadow(0 1px 10px 1px $border-color-1);
  border: 1px solid $border-color-2;
  margin-top: em(75);
  padding: em(100);
  padding-top:20px;
  background: $primary-color-2;
  .login-container{
    border: 1px solid $border-color-2;
    float:left;
    min-height: 150px;
    background: lighten($header-color, 2%);
    padding: 20px 25px;
    padding-bottom: em(30);

    form{
      margin-top: em(40);
    }
    .form-group{
      margin-bottom:0;
      .input-group-addon{
        padding: 6px;
        color: $primary-color-1;
        border-bottom:0;
        border-bottom-left-radius:0;
        border-top-left-radius:0;
      }
      .form-control{
        border-bottom-right-radius:0;
        border-top-right-radius:0;
        border-bottom:0;
      }
      &:nth-child(2){
        .input-group-addon{
          border-bottom:1px solid #ccc;
        }
        .form-control{
          border-bottom:1px solid #ccc;
        }

      }
    }
    .login-btn{
      button{
        width: 100%;
      }
      .link{
        margin-top: 10px;
        display: block;
        @include fonts(20, $font-family-1, normal, 20, $primary-color-1);
      }
    }
    .error-block{
      height: em(50);
      padding-top:7px;
      visibility:hidden;
      &.active{
        visibility: visible;
      }
      p{
        margin-bottom:5px;
      }
    }
  }
}
@media (max-width: $screen-xs-max) {
  .login-panel{
    padding: em(20);
    margin-top: em(20);
    .login-container{
      padding: 15px;
      .form-group{
        margin-bottom:0;
      }
    }
  }
}