.core-file-drop{
  height: em(150);
  border: 2px dashed #DDD;
  width:100%;
  line-height: em(60);
  text-align:center;
  span{
    display:inline-block;
    line-height:normal;
    vertical-align: middle;
    font-size: em(20);

  }
}
